::ng-deep {

    table tbody tr:hover {
        cursor: pointer;
        background-color: #fafafa;
    }

    table tbody tr:hover .delete{
       display: block!important;
    }

    table thead {
        display: none;
    }

    .author {
        color: #999;
        font-size: 13pt;
    }

    .title-date {
        color: #333;
        font-size: 13pt;
    }

    .header{
        height: 40vh;
        background: #333;
        color: #fff;
    }

    .p-40{
        padding: 0 40px;
    }

    .delete{
        display: none !important;
    }

}