::ng-deep {
    table tbody tr:hover {
        cursor: pointer;
        background-color: #fafafa;
    }

    table thead {
        display: none;
    }

    .author {
        color: #999;
        font-size: 13pt;
    }

    .title-date {
        color: #333;
        font-size: 13pt;
    }
}